/* styles/3-header.css */
header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 70px; /* Center text vertically */
    border-bottom: 1px solid #CCCCCC;
}
